<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769895385898-7amaes311uslmgv8oj5kd3utljbc34ab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769895385898-7amaes311uslmgv8oj5kd3utljbc34ab</string>
	<key>API_KEY</key>
	<string>AIzaSyDoMpHYTVHuC5i2FxrhRf8urfkUJ0_sN6U</string>
	<key>GCM_SENDER_ID</key>
	<string>769895385898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crazyAnamak.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>anamak-8eaeb</string>
	<key>STORAGE_BUCKET</key>
	<string>anamak-8eaeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769895385898:ios:9ef942b6a9110f44f8ac53</string>
</dict>
</plist>